@using MusicApp.Controllers;
@using MusicApp.Data;
@using System.Web;
@model Song
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        SongID : @ViewBag.Song.SongID
    </div>
    <div>
        SongName : @ViewBag.Song.SongTitle
    </div>
   <div>
        ReleaseDate : @ViewBag.Song.ReleaseDate
    </div>
   <form asp-controller="Home" asp-action="Edit" method="post">
    
    <label asp-for=SongTitle></label>
    <input asp-for=SongTitle />

    <label asp-for=ReleaseDate></label>
    <input asp-for=ReleaseDate />

    <label asp-for=TrackLength></label>
    <input asp-for=TrackLength />


    <label asp-for=AlbumID></label>
    <input asp-for=AlbumID  />
    <label asp-for=SongID></label>
    <input asp-for=SongID />
    <div>
        <button type="submit" asp-action="Update" asp-route-id="@ViewBag.Song.SongID"> <!--asp-route-st="ViewData["st"]" asp-route-rd="ViewData["rd"]"-->Update Song Details</button>
    </div>
    </form>
</body>
</html>